* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

audio{
    height: 5vh;
}


.upper-div {
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 75vh;
    border: 1px solid black;
}

.goback {
    color: red;
    text-decoration: none;
    padding: 1%;
    transition: 0.2s;
    width: 10%;
}

.goback:hover {
    padding-top: 0.8%;
}

.vid {
    width: 70%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: rgb(9, 9, 9);
}

.specs {
    width: calc(100% - 70%);
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 14, 14);
}

.upperspecs {
    padding: 2px;
    height: 40%;
}

.addpics {
    margin-top: 3%;
    height: 45%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: rgb(22, 22, 22);
    border-radius: 10%;
}

.chmusic {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
 
}


.music {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    height: 15%;
    border: 1px solid black;
    background-color: rgb(180, 180, 51);
    padding-top:2%;
    padding-left: 1%;
    display:flex;
    
}

.lowerspecs {
    height: 60%;
  
}

.specname {
    padding-top: 2%;
    padding-left: 1%;
    color: rgb(255, 255, 255);
    font-size: 2em;
    height: 15%;
    display:flex;
    justify-content:left;
    align-items:center;
}

.options {
    height: 85%;
 
}

.duration {
    height: 33%; 
    display:flex;
    justify-content: left;
    align-items:center;
    padding-left: 2%;
}

.durinput {
    color: rgb(255, 255, 255);
    width: 10%;
    background-color: black;
    border: .1px solid  white;
    margin-top: 1%;
}

.resolution {
  
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:center;
}


.resdrop {
    width: 40%;
    margin-top: 5.5%;
    height: 45%;
}


.transition {
 
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;
}


.dropdown select{
    color: white;
}

.dropdown select option {
    color: white;
}

.selecter {
    background-color: black;
}



.lower-div {
    width: 100%;
    border: 0.001px solid black;
    background-color: rgb(36, 36, 36);
    height: calc(100vh - 75vh);
}

.lower-div .viewpics {
    background-color: rgb(0, 0, 0);
    margin: 1%;
    height: 80%;
    overflow-x: auto;
    white-space: nowrap;
}

.viewpics img {
    margin-top: 1%;
    margin-left: 1%;
    justify-content: center;
    max-height: 80%;
}

.viewpics::-webkit-scrollbar {
    display: none;
}
