body {
    background-color: #9d0025;
    color: #9c0226 ;
    padding: 0%;
    /* overflow-x: hidden; */
  }
  
  * {
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  
  .box {
    height: 60vh;
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    border-radius: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 7px 10px 20px rgb(63, 63, 63);
  }
  
  .name {
    font-size: 7em;
    text-align: center;
    margin-top: 3%;
    font-family: Roboto;
  }
  
  .user {
    font-size: 2.5em;
    margin-top: 5%;
    padding-left: 10%;
    font-family: Protest Strike;
  }
  
  .userinput {
    border-radius: 1%;
    width: 80%;
    margin-top: 6%;
    border: 6px solid #9d0025;
    border-radius: 2%;
    height: 10%;
    margin-left: 10%;
    font-size: 1.75em;
    padding-left: 1%;
    font-family: Protest Strike;
    color: rgb(63, 63, 63);
    caret-color: transparent;
    transition: 0.2s;
  }
  
  .userinput:focus {
    box-shadow: 2px 2px 10px black;
    outline: none;
  }
  
  .submit {
    background-color: #9c0226;
    width: 30%;
    height: 10%;
    margin-left: 35%;
    margin-top: 7%;
    border-radius: 10%;
    color: white;
    font-size: 2em;
    font-family: Protest Strike;
  }