<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">
</head>



<!-- Script to send the form data to the server using AJAX: -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var data = [];
    const image_paths = JSON.parse('{{ images|tojson|safe }}');
    for (var i=0;i<image_paths.length;i++){
        console.log(image_paths[i]);
        data.push({image: image_paths[i] , duration:null , transition:null});
    }
  
    $('input[id^="duration"]').on('input', function() {
    var index = parseInt(this.id.replace('duration', ''), 10) - 1;
    data[index].duration = $(this).val();
});

$('select[id^="transition"]').on('change', function() {
    var index = parseInt(this.id.replace('transition', ''), 10) - 1;
    data[index].transition = $(this).val();
});



    $(document).ready(function () {
        $("form").on("submit", function (event) {
            event.preventDefault();
            $('#vid source').attr('src', '');
            $('#vid')[0].load();

            $('#spinner').attr('style', 'display: block ');
            console.log('Spinner should be visible now');

            var data = [];
            const image_paths = JSON.parse('{{ images|tojson|safe }}');
            for (var i = 0; i < images.length; i++) {
                var duration = $("#duration" + (i + 1)).val();
                var transition = $("#transition" + (i + 1)).val();
                data.push({ image: images[i], duration: duration, transition: transition });
            }

            $.ajax({
                url: "{{ url_for('create_video') }}",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    var newVideoUrl = response.newVideoUrl + '?t=' + new Date().getTime()
                    // This is done to prevent browser form cahcing the old video by setting the unique time stamp everytime the video is updated
                    //
                    // Update the video source
                    $('#vid source').attr('src', newVideoUrl);
                    // Load the new video
                    $('#vid')[0].load();
                    // Handle the response from the server
                    console.log('Success:', response);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Error:', textStatus, errorThrown);
                },
                complete: function () {
                    $('#spinner').hide();
                }
            });
        });
    });
</script>

<body>
    <div class="upper-div">
        <div class="vid">
            <div style="color:aliceblue; margin-bottom:5vh;">
                <a style="text-decoration: none ; color:white" href="intro.html">Back</a>
                <h2>Video Preview</h2>
            </div>
            <!-- <div id="videoContainer"> -->
                <div id="spinner" class="spinner-border" role="status" style="display: none;position: absolute; top: 50%; left: 50%;">
                    <span class="sr-only">Loading...</span>
                </div>
                <video width="60%" height="60%" id="vid" controls>
                    <source src="{{ url_for('static',filename='video/output.mp4')}}" type="video/mp4">
                </video>
            <!-- </div> -->
        </div>
        <div class="specs">
            <div class="upperspecs">
                <div class="addpics">
                    <h1>Drag and drop would be done here</h1>
                </div>
                <div class="chmusic">
                    <label>Choose Background Music: </label>
                    <select>
                        <option> Happy Birthday</option>
                        <option> Rick roll</option>
                        <option> Yaari </option>
                    </select>
                </div>

                <audio height="1vh" controls style="margin-top: 2em;">
                    <source src="audio.ogg" type="audio/ogg">
                </audio>
                <br><br><br>

            </div>
            <div class="lowerspecs">
                <div class="specname">
                    <h2>Specifications:</h2>
                </div>
                <div class="options">
                    <div class="duration">

                        <label>
                            <H2>Duration:&nbsp;&nbsp;<input class="durinput" id="durinput"></H2>
                        </label>

                    </div>
                    <div class="resolution">
                        <label style="padding-left: 2%;">
                            <h2>Resolution:&nbsp;&nbsp;&nbsp;</h2>
                        </label>
                        <div class="dropdown">
                            <select class="selecter">
                                <option>Shit resolution</option>
                                <option>Ok resolution</option>
                                <option>OP resolution</option>
                            </select>
                        </div>

                    </div>
                    <div class="transition">
                        <label style="padding-left: 2%;">
                            <h2>Transition:&nbsp;&nbsp;</h2>
                        </label>
                        <div class="dropdown">
                            <select class="selecter">
                                <option>None</option>
                                <option>Smooth</option>
                                <option>Beautiful</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lower-div">
        <div class="viewpics">
            <form>
                {% for image in images %}
                <div id="clip">
                    <label class="image-label" id="{{ image }}">
                        <img src="{{ url_for('static', filename=image) }}">
                    </label>
                   
                    <input type="number" placeholder="Duration in seconds" id="duration{{ loop.index }}">
                      
                    <select id="transition{{ loop.index }}">
                        <option value="none">None</option>
                        <option value="fade">Fade</option>
                        <option value="slide">Slide</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                {% endfor %}
                <button type="submit">Create Magic!</button>
            </form>
        </div>
    </div>
</body>

</html>